@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
 
 font-family: "Dosis", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
}

body {
  background: #010103;
  overflow-x: hidden;
}

section {
  padding: 2rem 7%;
}

.heading {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 4rem;
}

.heading span {
  color: #ffc107;
  text-transform: uppercase;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background: #ffc107;
  cursor: pointer;
}

.btn:hover {
  letter-spacing: 0.2rem;
}

.header {
  background: #010103;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 7%;
  border-bottom: 0.2rem solid #ffc107;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header .logo img {
  max-width: 101px;
}

.header .navbar a {
  margin-left: 15px;
  font-size: 2.2rem;
  color: #fff;
  gap: 7px;
}

.header .navbar a:hover {
  color: #ffc107;
  border-bottom: 0.1rem solid #ffc107;
  padding-bottom: 0.5rem;
}

.header .icons img {
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
}

.header .icons div:hover {
  color: #ffc107;
}

#menu-btn {
  
}

.header .search-form {
  position: absolute;
  top: 115%;
  right: 7%;
  background: #fff;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
}

.header .search-form.active {
  transform: scaleY(1);
}

.header .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: #13131a;
  padding: 1rem;
  text-transform: none;
}

.header .search-form label {
  cursor: pointer;
  font-size: 2.2rem;
  margin-right: 1.5rem;
  color: #13131a;
}

.header .search-form label:hover {
  color: #ffc107;
}

.header .cart-items-container {
  position: absolute;
  top: 100%;
  right: -100%;
  height: calc(100vh - 9.5rem);
  width: 35rem;
  background: #fff;
  padding: 0 1.5rem;
}



.header .cart-items-container .cart-item .fa-times {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  color: #13131a;
}


.header .cart-items-container .btn {
  width: 100%;
  text-align: center;
}

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, rgb(0 0 0 / 90%), rgb(68 68 68 / 35%)),
    url(sindhriView.jpg) ;
  background-size: cover;
  background-position: center;
  padding-top: 300px;
  margin-top: 50px;
}

.home .content {
  max-width: 60rem;
  margin-top: -30px;
}

.home span {
  color:  #eccc6b;
  text-transform: uppercase;
}

.home .content h3 {
  font-size: 6rem;
  text-transform: uppercase;
  color: #fff;
  font-style: italic;
  color:  #eccc6b;
  font-family: "Caveat", cursive;
  
  padding-bottom: 15px;
}

.home .content p {
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.8;
 
  color: #eee;
  padding-bottom: 15px;
}

.about{
  padding-top: 70px;
}

.about .row {
  display: flex;
  align-items: center;
  background: #0b0b00;
  flex-wrap: wrap;
}

.about .row .image {
  flex: 1 1 45rem;
}

.about .row .image img {
  width: 100%;
 
}

.about .row .content {
  flex: 1 1 45rem;
  padding: 2rem;
  margin-top: 2px;
  
}

.about .row .content h3 {
  font-size: 3rem;
  
  color: #fff;
  margin-bottom: 3%;
}

.about .row .content p {
  font-size: 1.8rem;
  color: #ccc;
  padding: 1rem 0;
  line-height: 1.8;
  
  
  font-weight: 400;
  font-style: normal;
  
 
}
#km{
  align-items: center;
}

.box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}


.review{
  padding-top: 10px;
}
.review .box-container .box {
  border: 0.2rem solid #ffc107;
  text-align: center;
  padding: 3rem 2rem;
}

.review .box-container .box p {
  font-size: 1.5rem;
  line-height: 1.8;
  color: #ccc;
  padding: 2rem 0;
}

.review .box-container .box .user {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
}

.review .box-container .box h3 {
  padding: 1rem 0;
  font-size: 2rem;
  color: #fff;
}

.review .box-container .box .stars img {
 
  color: #ffc107;
}
.review .box-container .box .stars img {
 
 height : 80px
}
.contact{
  padding-top: 150px;
}
.contact .row {
  display: flex;
  background: #13131a;
  flex-wrap: wrap;
  gap: 1rem;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form h3 {
  text-transform: uppercase;
  font-size: 3.5rem;
  color: #fff;
}

.contact .row form .inputBox {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: #13131a;
  border: 0.2rem solid #ffc107;
}

.contact .row form .inputBox span {
  color: #fff;
  font-size: 2rem;
  padding-left: 2rem;
}

.contact .row form .inputBox input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  color: #fff;
  text-transform: none;
  background: none;
}
.team{
  padding-top: 150px;
}

.team .box-container .box {
  border: 0.2rem solid #ffc107;
}

.team .box-container .box .image {
  height: 25rem;
  overflow: hidden;
  width: 100%;
}

.team .box-container .box .image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.team .box-container .box:hover .image img {
  transform: scale(1.2);
}

.team .box-container .box .content {
  padding: 2rem;
}

.team .box-container .box .content .title {
  font-size: 3rem;
  line-height: 1.5;
  color: #fff;
}

.team .box-container .box .content .title:hover {
  color: #ffc107;
}

.team .box-container .box .content span {
  color: #ffc107;
  display: block;
  padding-top: 1rem;
  font-size: 2rem;
}

.team .box-container .box .content p {
  font-size: 1.6rem;
  line-height: 1.8;
  color: #ccc;
  padding: 1rem 0;
  
}

.footer {
  background:  #13131a;;
  text-align: center;
}

.footer .share {
  padding: 1rem 0;
}

.footer .share img {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: #fff;
  border: 0.2rem solid #ffc107;
  margin: 0.3rem;
  border-radius: 50%;
  margin-left: 10px;
}

.footer .share img:hover {
  background-color: #ffc107;
}

.footer .links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
  gap: 1rem;
}

.footer .links a {
  padding: 0.7rem 2rem;
  color: #fff;
  border: 0.2rem solid #ffc107;
  font-size: 2rem;
}

.footer .links a:hover {
  background: #ffc107;
}

.footer .credit {
  font-size: 2rem;
  color: #fff;
  font-weight: lighter;
  padding: 1.5rem;
  font-style: italic;
  
  
  
}


.footer .credit span {
  color: #ffc107;
 
 
}
#wt{
  margin-right: 50px;
}

/* media queries  */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem 2rem;
  }

  section {
    padding: 2rem;
  }




  .header .navbar.active {
    right: 0;
  }

  .header .navbar a {
    color: #fff;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .header .search-form {
    width: 90%;
    right: 2rem;
  }

  .home {
    background-position: left;
    justify-content: center;
    text-align: center;
  }

  .home .content h3 {
    font-size: 4.5rem;
  }

  .home .content p {
    font-size: 1.5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}



#searchIcon{
    height: 40x;
    width: 40px;
}
#shoppingCart{
    height: 40x;
    width: 40px;
}
#menu-btn{
    height: 40x;
    width: 40px;
}
.reservation{
  padding-top: 120px;
}
.reservation {
 
  background-color:#0b0b00;
}

.reservation .content {
  max-width: 800px;
  margin: 0 auto;
}

.reservation h3 {
  font-size: 2.8rem;
  text-align: center;
  margin-bottom: 20px;
  color: #eccc6b; /* Change color to a darker shade */
}


.reservation form {
  display: flex;
  flex-direction: column;
}

.reservation .form-group {
  margin-bottom: 20px;
}

.reservation label {
  font-size: 1.6rem; /* Increase label font size */
  color: #eccc6b;
}

.reservation input[type='text'],
.reservation input[type='email'],
.reservation input[type='tel'],
.reservation input[type='date'],
.reservation input[type='time'],
.reservation input[type='number'],
.reservation textarea {
  width: 100%;
  padding: 10px;
  font-size: 1.6rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.reservation textarea {
  height: 100px;
  resize: vertical;
}

.reservation button {
  padding: 10px 20px;
  font-size: 1.6rem;
  background-color: #eccc6b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.reservation button:hover {
  background-color: #ffb400;
}


.menu {
  display: flex;
   flex-direction: row;
  gap: 20px;
  padding-top: 140px;
  padding-bottom: 140px;
 
}

.menu h1 {
  color: #ffb400;
  text-align: center;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 250px;
 
 

}

.category {
  width: 200px;
  padding: 10px;
   background-color: #faedca;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.category.active {
  background-color: #007bff;
  color: #fff;
}
.right-container {
  flex: 1;
  display: flex;
  flex-direction: column; /* Stack image on top and dishes below */
  gap: 20px;
}
.category-image {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category-image img {
  max-width: 130%;
  max-height: 100%;
  border: 0.2rem solid #ffc107;
}

.dishes {
  display: flex;

  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  
}

.dish {
  width: calc(33.33% - 20px);
  padding: 10px;
  background-color: #faedca;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.dish-name {
  font-size: medium;
}

.dish-price {
  margin-left: 8px;
  font-size: medium;
}

.add-button {
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
}

.add-button:hover {
  background-color: #7408f7;
  width: 50px;
}
.order-summary {
  padding: 20px;
  background-color: #f8f9fa;
  margin-top: 20px;
}

.order-summary h3 {
  color: #333;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.order-summary ul {
  list-style-type: none;
  padding: 0;
}

.order-summary li {
  margin-bottom: 5px;
  font-size: medium;
}

.order-summary li:before {
  content: "•";
  color: #007bff;
  margin-right: 5px;
}
.order-summary p{
  font-size: medium;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.cart-content {
  max-height: 200px;
  overflow-y: auto;
  margin-bottom: 20px;
}

.cart-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: #555;
}
